<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>273145208926-cc9s2rog74c69a16uh5alccmkjo3kirv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273145208926-cc9s2rog74c69a16uh5alccmkjo3kirv</string>
	<key>API_KEY</key>
	<string>AIzaSyAOW6XEWnsw74U0tfMGWa_gwR67IPu4sJE</string>
	<key>GCM_SENDER_ID</key>
	<string>273145208926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Futucke.GameOfChats</string>
	<key>PROJECT_ID</key>
	<string>gameofchats-bb5b0</string>
	<key>STORAGE_BUCKET</key>
	<string>gameofchats-bb5b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273145208926:ios:0afb20d10c9fc2f5</string>
	<key>DATABASE_URL</key>
	<string>https://gameofchats-bb5b0.firebaseio.com</string>
</dict>
</plist>